* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: cadetblue;
  display: grid;
  place-content: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
h1 {
  padding: 2rem;
}
.input-container {
  padding: 1rem;
  display: flex;
 
  justify-content: center;
}
input {
  padding: 0.25rem;
  border-radius: 5px;
  margin-right: 1rem;
}
button {
  padding: 0.45rem;
  font-size: 1rem;
  background-color: orange;
  border-radius: 5px;
}
.display {
  height: 50px;
  width: 250px;
  padding-inline: 2rem;
  border: 1px solid orange;
  justify-items: center;
  align-self: center;
  border-radius: 5px;
}
